body {
    background-color: antiquewhite;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    padding: 100px;
}
/* Styling classes & id's */

.center {
    text-align: center;
}


/* Add a counter to enumerate the steps */
ol {
    counter-reset: section;
    list-style-type: none;
}

li.counter::before {
    counter-increment: section;
    content: "Step " counter(section) " ";
    font-weight: bold;
    margin-right: 5px;
}